<div class="adjust-container">
<div class="center">
  <h2 class="attention">Frequently Asked Questions</h2>
</div>
<div class="container">
  <div class="row">
    <% @faqs.each do |faq| %>
     <div class="col-sm-6">
       <h3> 
        <%= " #{faq.id}: #{faq.question}" %>
       </h3>
       <p><%= faq.answer %></p>
    </div>
      <% end %>
  </div>
</div>
  <div class="container">
    <p class="para">Your question was not asked? Let us know <a href="tel:+233507889476">0507889476 | 0248216079</a></p>
  </div>
</div>


