<div class="jumbotron center" id="humbotron">
	<h1>Learn. Think. Plan. Execute!</h1>
	<p>We teach absolute beginners to build web applications that solve real world problems. <br>Become a confident full stack web application developer in our 12 week part time course.</p>
</div>

<div class="container justify" id="course">
	<h2 id="attention" class="center">Becoming a Confident <br>Software Developer is Challenging</h2>
	<p>Learning to program and develop the web by yourself is a challenging task. You've probably spent months going through books, tutorials and online courses, but feel all you can do is follow instructions, and don’t have the clarity and confidence to build production quality applications yourself?</p>
	
	<p>It’s time to stop kidding and get serious. Like any other fields, the best way to learn software development is through a structured process, a lot of practice, and timely support when you are stuck. A well structured learning program gives you a roadmap, pushes you through potholes and helps navigate you away from time sinks. You still need to work hard, but you’ll actually stay excited and enjoy the process.</p>
	
	<p>Our 12 week web development immersive program guides you through a curated lessons and assignments to build real life, production ready applications over three months, with full in-person support. We will help you build your programming and web development skills from scratch, all the way to the professional level. It’s not for everyone - if you are learning programming as a hobby, our program can be too much. But if you are committed and ready to work hard, we promise a transformative learning experience that will turn you into a confident developer.</p>
</div>