@import "bootstrap";
// @import "bootstrap-theme";

/*Layout
===========================*/
::selection {
	background-color: #95d6e9;
	color: #fefefe;
}

body {
	padding-top: 45px;
	background-color: #fefefe;
}
.center {
	text-align: center;
}
.justify {
	text-align: justify;
}
.attention {
	font-size: 55px;
	line-height: 1.0em;
	font-family: "Helvetica Neue", Georgia, Arial, sans-serif;
	margin-top: -20px;
}
.navbar-default {
	// background-color: #95d6e9;
	opacity: 0.7;
	border-bottom: none;
}

.navbar .navbar-brand {
	color: #fff;
	font-size: 30px;
}
.navbar-default .navbar-nav > li > a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #fefefe;
	line-height: 25px;
}
#register {
	background-color: #aa0103;
	padding: 10px 20px;
	margin-top: 5px;
	border-radius: 5px;
	border-bottom: 2px solid #000;
}

/*Jumbotron
===========================*/
.humbotron {
	margin-top: 10px;
}
p.para {
	font-family: sans-serif;
	font-size: 1.50em;
	// font-weight: bold;
	line-height: 1.5;
}
/*buttons
===========================*/
.custom-btn {
	width: 250px;
}
.btn {
	margin: 10px;
}
#adjust-btn {
	margin-top: -7px;
	margin-left: -10px;
}
/*containers
===========================*/
.container {
	max-width: 1000px;
}
.nav-link {
	max-width: 1200px;
}
.adjust-container {
	margin-top: 30px;
}
/*colors
===========================*/
.attention, p.para {
	color: #222;
}
/*form
===========================*/
#subscribe {
	padding: 25px;
}
input[type="email"] {
	background: lightyellow;
	font-size: 1.5em;
	font-style: italic;
}
/*registration page
===========================*/
.padded {
	padding: 50px 15px;
}
#pright {
	margin-right: 20px;
}
.contact-info {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}
.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 5px;
	font-size: 1.1em;
}
.contact-info li.phone a {
	background-image: url(phone.png);
}
.contact-info li.mail a {
	background-image: url(mail.png);
}
.contact-info li.twitter a {
	background-image: url(twitter.png);
}
.contact-info li.facebook a {
	background-image: url(facebook.png);
}
#contact {
	margin-top: 10px;
}
/*javascript style
===========================*/
section > div > div {
    background: #aa0103;
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    color: #fff;
}
section {
    // padding: 12px;
    // border-radius: 12px;
    text-align: center;
}
/*panel
===========================*/
h3.panel-title {
	font-size: 2em;
}

/*footer
===========================*/
small {
	text-align: center;
}



